@import "normalize.styl"

gris-oscuro = #333
gris-claro = #818181

body
	font-size 16px
	font-family "Varela Round", sans-serif
figure
	margin 0
.container
	padding 1.4rem
	font-size 0
	text-align center
.name
	color gris-oscuro
.author
	color gris-claro
.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1rem
	text-align left
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0